In [147]:
import pandas as pd
import math
import datetime as datetime

In [120]:
df = pd.read_excel("/Users/lielph/Desktop/Pandads/Тестовое задание Никифоров Илья.xlsx", sheet_name="Лист1", 
                   skiprows=14)
df
df.drop(columns=["Unnamed: 0","Unnamed: 13","Unnamed: 14"],inplace=True)
# df

In [121]:
df.rename(columns={"ФИО сотрудника":"surname","Unnamed: 3":"name",
                   "Unnamed: 4":"s_name"},inplace=True)
df.drop(df.index[0], inplace=True)

---
# 1. Перенесите в столбцы D и E имена и отчества сотрудников из столбца C, в столбце C оставьте только фамилии.
---

In [122]:
df.name = df.surname.str.split().str.get(1)
df.s_name = df.surname.str.split().str.get(2)
df.surname = df.surname.str.split().str.get(0)

In [123]:
df.name.fillna("РОЗА",inplace=True)
df.s_name.fillna("МАРКОВНА",inplace=True)
df

,№ п/п,surname,name,s_name,Дата рождения,Пол,Возраст на дату приема,Пенсионного возраста,Дата приема,Дата увольнения,Стаж,Причина увольнения
1,1.0,АБИТОВА,РОЗА,МАРКОВНА,1945-02-10,женский,62.0,да,2007-09-13,NaT,9 г. 3 мес. 19 дн.,NaN
2,2.0,АВДЕЕВА,АФРОДИТА,АБРАМОВНА,1936-04-06,NaN,NaN,NaN,2008-07-29,2009-06-27,NaN,по соглашению
3,3.0,АГАДЖАНЯН,РАЗМИК,ВИКТОРОВНА,1959-04-20,NaN,NaN,NaN,2006-05-21,2016-10-02,NaN,по собственному
4,4.0,АН,ТЕРЕЗА,АНАТОЛЬЕВНА,1973-11-08,NaN,NaN,NaN,2002-06-11,2012-09-14,NaN,по соглашению
5,5.0,АРСЛАНОВ,ВАЛЕРИЙ,НИКОЛАЕВИЧ,1984-02-20,NaN,NaN,NaN,2003-09-02,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96.0,ШИДЛОВСКАЯ,ЕВГЕНИЯ,ПАТВАКАНОВНА,1971-07-18,NaN,NaN,NaN,2004-09-20,2012-11-10,NaN,по собственному
97,97.0,ШИН,НУВАХИДИЯ,ДАВИДОВНА,1960-02-02,NaN,NaN,NaN,2005-08-06,NaT,NaN,NaN
98,98.0,ШУБИНА,ЛЮБОВЬ,ЛЕОНИДОВНА,1958-01-14,NaN,NaN,NaN,2009-07-16,2010-01-15,NaN,по соглашению
99,99.0,ЮНУСОВА,АЛВАРД,ЮРЬЕВНА,1958-07-17,NaN,NaN,NaN,2001-03-20,NaT,NaN,NaN
100,100.0,ЯКУБОВИЧ,АЛЕКСАНДР,ХАЛИМОВИЧ,1962-03-26,NaN,NaN,NaN,2002-04-08,2007-02-15,NaN,по собственному

In [124]:
df["Пол"] = df["Пол"].astype("object")
df.info()

def gender(name):
    if str(name[-1]) == "А":
        return "женский"
    else:
        return "мужской"
df["Пол"] = df.s_name.apply(gender)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1 to 100
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   № п/п                   100 non-null    float64
 1   surname                 100 non-null    object
 2   name                    100 non-null    object
 3   s_name                  100 non-null    object
 4   Дата рождения           100 non-null    datetime64[ns]
 5   Пол                     1 non-null      object
 6   Возраст на дату приема  1 non-null      float64
 7   Пенсионного возраста    1 non-null      object
 8   Дата приема             100 non-null    datetime64[ns]
 9   Дата увольнения         61 non-null     datetime64[ns]
 10  Стаж                    1 non-null      object
 11  Причина увольнения      61 non-null     object
dtypes: datetime64[ns](3), float64(2), object(7)
memory usage: 9.5+ KB

---
# Фамилия заканичвается на "A" ---> женский пол
---

In [125]:
df

,№ п/п,surname,name,s_name,Дата рождения,Пол,Возраст на дату приема,Пенсионного возраста,Дата приема,Дата увольнения,Стаж,Причина увольнения
1,1.0,АБИТОВА,РОЗА,МАРКОВНА,1945-02-10,женский,62.0,да,2007-09-13,NaT,9 г. 3 мес. 19 дн.,NaN
2,2.0,АВДЕЕВА,АФРОДИТА,АБРАМОВНА,1936-04-06,женский,NaN,NaN,2008-07-29,2009-06-27,NaN,по соглашению
3,3.0,АГАДЖАНЯН,РАЗМИК,ВИКТОРОВНА,1959-04-20,женский,NaN,NaN,2006-05-21,2016-10-02,NaN,по собственному
4,4.0,АН,ТЕРЕЗА,АНАТОЛЬЕВНА,1973-11-08,женский,NaN,NaN,2002-06-11,2012-09-14,NaN,по соглашению
5,5.0,АРСЛАНОВ,ВАЛЕРИЙ,НИКОЛАЕВИЧ,1984-02-20,мужской,NaN,NaN,2003-09-02,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96.0,ШИДЛОВСКАЯ,ЕВГЕНИЯ,ПАТВАКАНОВНА,1971-07-18,женский,NaN,NaN,2004-09-20,2012-11-10,NaN,по собственному
97,97.0,ШИН,НУВАХИДИЯ,ДАВИДОВНА,1960-02-02,женский,NaN,NaN,2005-08-06,NaT,NaN,NaN
98,98.0,ШУБИНА,ЛЮБОВЬ,ЛЕОНИДОВНА,1958-01-14,женский,NaN,NaN,2009-07-16,2010-01-15,NaN,по соглашению
99,99.0,ЮНУСОВА,АЛВАРД,ЮРЬЕВНА,1958-07-17,женский,NaN,NaN,2001-03-20,NaT,NaN,NaN
100,100.0,ЯКУБОВИЧ,АЛЕКСАНДР,ХАЛИМОВИЧ,1962-03-26,мужской,NaN,NaN,2002-04-08,2007-02-15,NaN,по собственному

---
# 3. Укажите в столбце H возраст на дату приема (количество полных лет).			
---

In [128]:
df["Возраст на дату приема"] = df["Дата приема"].dt.year - df["Дата рождения"].dt.year
df

,№ п/п,surname,name,s_name,Дата рождения,Пол,Возраст на дату приема,Пенсионного возраста,Дата приема,Дата увольнения,Стаж,Причина увольнения
1,1.0,АБИТОВА,РОЗА,МАРКОВНА,1945-02-10,женский,62,да,2007-09-13,NaT,9 г. 3 мес. 19 дн.,NaN
2,2.0,АВДЕЕВА,АФРОДИТА,АБРАМОВНА,1936-04-06,женский,72,NaN,2008-07-29,2009-06-27,NaN,по соглашению
3,3.0,АГАДЖАНЯН,РАЗМИК,ВИКТОРОВНА,1959-04-20,женский,47,NaN,2006-05-21,2016-10-02,NaN,по собственному
4,4.0,АН,ТЕРЕЗА,АНАТОЛЬЕВНА,1973-11-08,женский,29,NaN,2002-06-11,2012-09-14,NaN,по соглашению
5,5.0,АРСЛАНОВ,ВАЛЕРИЙ,НИКОЛАЕВИЧ,1984-02-20,мужской,19,NaN,2003-09-02,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96.0,ШИДЛОВСКАЯ,ЕВГЕНИЯ,ПАТВАКАНОВНА,1971-07-18,женский,33,NaN,2004-09-20,2012-11-10,NaN,по собственному
97,97.0,ШИН,НУВАХИДИЯ,ДАВИДОВНА,1960-02-02,женский,45,NaN,2005-08-06,NaT,NaN,NaN
98,98.0,ШУБИНА,ЛЮБОВЬ,ЛЕОНИДОВНА,1958-01-14,женский,51,NaN,2009-07-16,2010-01-15,NaN,по соглашению
99,99.0,ЮНУСОВА,АЛВАРД,ЮРЬЕВНА,1958-07-17,женский,43,NaN,2001-03-20,NaT,NaN,NaN
100,100.0,ЯКУБОВИЧ,АЛЕКСАНДР,ХАЛИМОВИЧ,1962-03-26,мужской,40,NaN,2002-04-08,2007-02-15,NaN,по собственному

---
# 4. Укажите в столбце I, достиг ли сотрудник пенсионного возраста (мужчины с 60 лет, женщины с 55 лет) на дату приема, в форме да/нет.
---

In [135]:
def pension_age(frame):
    if (frame["Пол"] == "женский" and frame["Возраст на дату приема"] >=55) or \
    (frame["Пол"] == "мужской" and frame["Возраст на дату приема"] >=60):
        return "да"
    else:
        return "нет"
df["Пенсионного возраста"] = df.apply(pension_age,axis=1)
df

,№ п/п,surname,name,s_name,Дата рождения,Пол,Возраст на дату приема,Пенсионного возраста,Дата приема,Дата увольнения,Стаж,Причина увольнения
1,1.0,АБИТОВА,РОЗА,МАРКОВНА,1945-02-10,женский,62,да,2007-09-13,NaT,9 г. 3 мес. 19 дн.,NaN
2,2.0,АВДЕЕВА,АФРОДИТА,АБРАМОВНА,1936-04-06,женский,72,да,2008-07-29,2009-06-27,NaN,по соглашению
3,3.0,АГАДЖАНЯН,РАЗМИК,ВИКТОРОВНА,1959-04-20,женский,47,нет,2006-05-21,2016-10-02,NaN,по собственному
4,4.0,АН,ТЕРЕЗА,АНАТОЛЬЕВНА,1973-11-08,женский,29,нет,2002-06-11,2012-09-14,NaN,по соглашению
5,5.0,АРСЛАНОВ,ВАЛЕРИЙ,НИКОЛАЕВИЧ,1984-02-20,мужской,19,нет,2003-09-02,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96.0,ШИДЛОВСКАЯ,ЕВГЕНИЯ,ПАТВАКАНОВНА,1971-07-18,женский,33,нет,2004-09-20,2012-11-10,NaN,по собственному
97,97.0,ШИН,НУВАХИДИЯ,ДАВИДОВНА,1960-02-02,женский,45,нет,2005-08-06,NaT,NaN,NaN
98,98.0,ШУБИНА,ЛЮБОВЬ,ЛЕОНИДОВНА,1958-01-14,женский,51,нет,2009-07-16,2010-01-15,NaN,по соглашению
99,99.0,ЮНУСОВА,АЛВАРД,ЮРЬЕВНА,1958-07-17,женский,43,нет,2001-03-20,NaT,NaN,NaN
100,100.0,ЯКУБОВИЧ,АЛЕКСАНДР,ХАЛИМОВИЧ,1962-03-26,мужской,40,нет,2002-04-08,2007-02-15,NaN,по собственному

In [138]:
df.fillna(" ",inplace=True)
df

,№ п/п,surname,name,s_name,Дата рождения,Пол,Возраст на дату приема,Пенсионного возраста,Дата приема,Дата увольнения,Стаж,Причина увольнения
1,1.0,АБИТОВА,РОЗА,МАРКОВНА,1945-02-10,женский,62,да,2007-09-13,,9 г. 3 мес. 19 дн.,
2,2.0,АВДЕЕВА,АФРОДИТА,АБРАМОВНА,1936-04-06,женский,72,да,2008-07-29,2009-06-27 00:00:00,,по соглашению
3,3.0,АГАДЖАНЯН,РАЗМИК,ВИКТОРОВНА,1959-04-20,женский,47,нет,2006-05-21,2016-10-02 00:00:00,,по собственному
4,4.0,АН,ТЕРЕЗА,АНАТОЛЬЕВНА,1973-11-08,женский,29,нет,2002-06-11,2012-09-14 00:00:00,,по соглашению
5,5.0,АРСЛАНОВ,ВАЛЕРИЙ,НИКОЛАЕВИЧ,1984-02-20,мужской,19,нет,2003-09-02,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96.0,ШИДЛОВСКАЯ,ЕВГЕНИЯ,ПАТВАКАНОВНА,1971-07-18,женский,33,нет,2004-09-20,2012-11-10 00:00:00,,по собственному
97,97.0,ШИН,НУВАХИДИЯ,ДАВИДОВНА,1960-02-02,женский,45,нет,2005-08-06,,,
98,98.0,ШУБИНА,ЛЮБОВЬ,ЛЕОНИДОВНА,1958-01-14,женский,51,нет,2009-07-16,2010-01-15 00:00:00,,по соглашению
99,99.0,ЮНУСОВА,АЛВАРД,ЮРЬЕВНА,1958-07-17,женский,43,нет,2001-03-20,,,
100,100.0,ЯКУБОВИЧ,АЛЕКСАНДР,ХАЛИМОВИЧ,1962-03-26,мужской,40,нет,2002-04-08,2007-02-15 00:00:00,,по собственному

---
# 5. Заполните столбец L, если в столбце K дата увольнения пустая, то считайте стаж на дату отчета (ячейка F13).						
---

In [226]:
df['Unix время'] = datetime.datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
def experience(frame):
    if frame["Дата увольнения"] == " ":
        return (frame['Unix время'] - frame["Дата приема"])
    else:
        return " "
df["Стаж"] = df.apply(experience, axis=1)
df["Стаж"] = df["Стаж"].astype("str")
df["Стаж"] = df["Стаж"].str.split().str.get(0)
df

,№ п/п,surname,name,s_name,Дата рождения,Пол,Возраст на дату приема,Пенсионного возраста,Дата приема,Дата увольнения,Стаж,Причина увольнения,Unix время
1,1.0,АБИТОВА,РОЗА,МАРКОВНА,1945-02-10,женский,62,да,2007-09-13,,6001,,2024-02-17
2,2.0,АВДЕЕВА,АФРОДИТА,АБРАМОВНА,1936-04-06,женский,72,да,2008-07-29,2009-06-27 00:00:00,NaN,по соглашению,2024-02-17
3,3.0,АГАДЖАНЯН,РАЗМИК,ВИКТОРОВНА,1959-04-20,женский,47,нет,2006-05-21,2016-10-02 00:00:00,NaN,по собственному,2024-02-17
4,4.0,АН,ТЕРЕЗА,АНАТОЛЬЕВНА,1973-11-08,женский,29,нет,2002-06-11,2012-09-14 00:00:00,NaN,по соглашению,2024-02-17
5,5.0,АРСЛАНОВ,ВАЛЕРИЙ,НИКОЛАЕВИЧ,1984-02-20,мужской,19,нет,2003-09-02,,7473,,2024-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96.0,ШИДЛОВСКАЯ,ЕВГЕНИЯ,ПАТВАКАНОВНА,1971-07-18,женский,33,нет,2004-09-20,2012-11-10 00:00:00,NaN,по собственному,2024-02-17
97,97.0,ШИН,НУВАХИДИЯ,ДАВИДОВНА,1960-02-02,женский,45,нет,2005-08-06,,6769,,2024-02-17
98,98.0,ШУБИНА,ЛЮБОВЬ,ЛЕОНИДОВНА,1958-01-14,женский,51,нет,2009-07-16,2010-01-15 00:00:00,NaN,по соглашению,2024-02-17
99,99.0,ЮНУСОВА,АЛВАРД,ЮРЬЕВНА,1958-07-17,женский,43,нет,2001-03-20,,8369,,2024-02-17
100,100.0,ЯКУБОВИЧ,АЛЕКСАНДР,ХАЛИМОВИЧ,1962-03-26,мужской,40,нет,2002-04-08,2007-02-15 00:00:00,NaN,по собственному,2024-02-17

In [228]:
df["Стаж"].fillna(0,inplace=True)

In [241]:
def tst(row):
    year, month, day = 0, 0 ,0
    if row != 0:
        year = int(row) // 365.25
        month = (int(row) % 365.25 // 30)
        return str(f"{int(year)}лет,{int(month)} месяцев")
    else:
        return " "
df["Стаж"] = df["Стаж"].apply(tst)

ValueError: invalid literal for int() with base 10: '16лет,5 месяцев'

In [243]:
df.drop(columns=["Unix время","qq"], inplace=True)

In [245]:
df.to_excel("Zadaniya.xlsx")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              100 non-null    int64
 1   № п/п                   100 non-null    int64
 2   surname                 100 non-null    object
 3   name                    100 non-null    object
 4   s_name                  100 non-null    object
 5   Дата рождения           100 non-null    datetime64[ns]
 6   Пол                     100 non-null    object
 7   Возраст на дату приема  100 non-null    int64
 8   Пенсионного возраста    100 non-null    object
 9   Дата приема             100 non-null    datetime64[ns]
 10  Дата увольнения         100 non-null    object
 11  Стаж                    100 non-null    object
 12  Причина увольнения      100 non-null    object
dtypes: datetime64[ns](2), int64(3), object(8)
memory usage: 10.3+ KB